<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles/navstyle.css">
    <meta charset="utf-8">
    <!-- IMPORTANT MOBILE FIX: -->
    <!-- https://stackoverflow.com/questions/27746811/bootstrap-font-scaling-too-small-on-mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reid Sherman</title>

  </head>
  <body>
    <nav class="navbar navbar-default" id="navbar" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span id="bigR" class="active">ReidJS</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/projects.php" class="navtext">Projects</a></li>
          <li><a href="/cv.php" class="navtext">Resumé</a></li>
          <li><a href="https://reidsherman.com/wp/" class="navtext"><i class="fa fa-wordpress" aria-hidden="true"></i>ordPress</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="right-icons">
          <li><a href="mailto:reidsherman+website@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
            <span class="visible-xs-inline navtext">Email</span>
          </a></li>
          <li><a href="https://github.com/reidjs"><i class="navicons fa fa-github-square" aria-hidden="true"></i>
            <span class="visible-xs-inline navtext">Github</span>
          </a></li>
          <li><a href="https://www.linkedin.com/in/reidsherman/"><i class="fa fa-linkedin" aria-hidden="true"></i>
          <span class="visible-xs-inline navtext">Linkedin</span>
          </a></li>
          <li><a href="https://www.facebook.com/reidsherman"><i class="navicons fa fa-facebook-square" aria-hidden="true"></i>
            <span class="visible-xs-inline navtext">Facebook</span>
          </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
