<div class="card">
  <a href="assets/pdfs/thesis_undergrad_final.pdf"><img class="card-img-top" src="assets/img/star_planet_moon.png" alt="Extrasolar Moons"></a>
  <div class="card-block">
    <h4 class="card-title">Extrasolar Moons</h4>
    <p class="card-text"> The Kepler Spacecraft found thousands of extrasolar planets. Do any of these planets have a visible moon? This question's
      investigated in this scientific paper.
      <a href="assets/pdfs/thesis_undergrad_final.pdf">View the PDF</a>
    </p>
  </div>
</div>
