<div class="card">
  <a href="https://reidsherman.com/esfiles.html"><img class="card-img-top" src="assets/img/earth.jpeg" alt="ES Resources"></a>
  <div class="card-block">
    <h4 class="card-title">Earth Science Resources</h4>
    <p class="card-text">Are you an Earth Science Teacher looking for teaching resources, or a student studying for the
      New York Regents Exam? Check out this repository of Earth Science Resources I've created and/or collected over the years.
      <a href="https://reidsherman.com/esfiles.html">Earth Science Resources</a>
    </p>
  </div>
</div>
