<div class="card">
  <a href="assets/pdfs/Circumbinary_Exoplanet_Insolation.pdf"><img class="card-img-top" src="assets/img/fluxin_out.png" alt="Circumbinary Exoplanets"></a>
  <div class="card-block">
    <h4 class="card-title">Circumbinary Planetary Atmospheres</h4>
    <p class="card-text"> What would the temperature structure look like in the atmosphere of an exoplanet? What about an exoplanet in orbit
      around two stars? I investigate these questions in this paper on planets that have two sunsets. 
      <a href="assets/pdfs/Circumbinary_Exoplanet_Insolation.pdf">View the PDF</a>
    </p>
  </div>
</div>
