<div class="card">
  <img class="card-img-top" src="assets/img/eventbike.png" alt="event-bike app">
  <div class="card-block">
    <h4 class="card-title">GigSign</h4>
    <p class="card-text">GigSign connects the artist to their client by allowing the artist to 
      quickly verify their phone number, send forms to be digitally signed, and send an invoice 
      after the performance. Powered by DocuSign and TeleSign APIs. 
     <a href='https://github.com/dspages/api_tribe'>GitHub</a> | <a href='https://gigsign.aiwins.io/#/'>Live</a>
    </p>
  </div>
</div>
