<div class="card">
  <img class="card-img-top" src="assets/img/eventbike.png" alt="event-bike app">
  <div class="card-block">
    <h4 class="card-title">EventBike Web App</h4>
    <p class="card-text">EventBike is an event planning tool designed for the motorcycle and bicycle communities. 
      Inspired by Eventbrite, it shares many features such as user authentication, event search, an interactive map, 
      and a user dashboard. 
     <a href='https://github.com/reidjs/eventbike'>GitHub</a> | <a href='https://eventbike.herokuapp.com/'>Live</a>
    </p>
  </div>
</div>
