<div class="card">
  <img class="card-img-top" src="assets/img/running.jpeg" alt="SpaceX Flights">
  <div class="card-block">
    <h4 class="card-title">SpaceX Flights</h4>
    <p class="card-text">An interactive history of SpaceX flights using the github repository SpaceX API as the primary data source. 
      The intention for this project is to be used as an educational resource for people interested in the aerospace industry. 
     <a href='https://github.com/reidjs/spacexflights'>GitHub</a> | <a href='https://reidjs.github.io/spacexflights/'>Live</a>
    </p>
  </div>
</div>
