<div class="card">
  <a href="assets/video/ctcrosssection.avi"><img class="card-img-top" src="assets/img/ctscan.png" alt="CT Scan"></a>
  <div class="card-block">
    <h4 class="card-title">CT Scan of a Meta-Sed. Rock Density Structure</h4>
    <p class="card-text"> The American Museum of Natural History in New York was nice enough to let
      me use their Computed Tomography (CT) Scanner to look at this weird rock. The darker areas are
      lower density, lighter areas are high density.
      <a href="assets/video/ctcrosssection.avi">Download the Composite Video (.avi)</a>
    </p>
  </div>
</div>
