<div class="card">
  <a href="assets/pdfs/MineralogyPaper_final.pdf"><img class="card-img-top" src="assets/img/mineralogy.png" alt="Mineralogy Paper"></a>
  <div class="card-block">
    <h4 class="card-title">Mineralogy Research Project</h4>
    <p class="card-text"> There is an igneous intrusion due west of the Manhattan Prong known as the Palisades Sill.
       that caused a fascinating reaction on this partially metamorphosed sedimentary rock.
      <a href="assets/pdfs/MineralogyPaper_final.pdf">View the PDF</a>
    </p>
  </div>
</div>
