
/*body {
      position: relative;
}*/
body {
  position:relative;
}
div.col-sm-10 div{
    height: 300px;
    font-size: 28px;
}
ul div.container{
  /*margin: 0 auto;*/
  /*margin-top: 20px;*/

  /*font-size:32px;*/
}
div > ul {
  margin-top: 30px;
}
ul.nav-stacked {
  position:fixed;
  font-size: 16px;
}
/*#myScrollspy {
  position:fixed;
}*/
/*#myScrollspy {
  margin-top: 400px;
}*/
/*nav.col-sm-3 {
  position: relative;
}*/
#section1 {color: #fff; background-color: #000;}
#section2 {color: #000; background-color: #fff;}
#section3 {color: #fff; background-color: #000;}
#section4 {color: #000; background-color: #fff;}
#section5 {color: #fff; background-color: #000;}


@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section4, #section5  {
      margin-left: 20px;
  }
}
li.active a{
  color: #999;
}
