

/*.fa-facebook-square {
  color: blue;
  padding: 0 0 0 0;
}*/
#right-icons > li > a{
  /*padding-top:7px;
  padding-bottom: 0;*/
  /*padding: 15px 10px 15px 10px;*/
  padding-left: 8px;
  padding-right:8px;
  font-size: 1.3em;
}
.navtext {
  font-size: 12px;
}
.fa:hover {
  color: blue;
}
/*#test {
  padding-left: 0;
  color: yellow;
}*/

h1 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.input-group {
  font-size: 39px;
}
input, textarea:focus, input:focus {
  outline: none;
  border: none;
}
.line {
  background: yellow;
}
#bigR {
  color: green;
}
#bigR.active{
  color: red;
}

/*.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}*/
